$sec4-list-item-bg: #fbf5f7;
$sec4-list-title-hover: #4e3187;

.sec4 {
    overflow: hidden;
    padding: 100px 0;

    @include media(w1024) {
        padding: 60px 0;
    }

    @include media(w768) {
        padding: 30px 0;
    }

    &__list {
        margin-left: -$container-side-padding-pc;

        @include media(w1024) {
            margin-left: 0;
        }

        @include media(w768) {
            margin-left: -$container-side-padding-tablet;
            margin-right: -$container-side-padding-tablet;
        }
    }

    &__row {
        display: flex;
    }

    &__col {
        width: 50%;

        &_door {

            @include media(w1024) {
                display: none;
            }
        }

        @include media(w1024) {
            width: 100%;
        }
    }

    &__list-item {
        transition: $trans;
        border-radius: 16px;
        padding: 26px;

        @include media(w768) {
            border-radius: 0;
        }

        &:hover {
            background-color: $sec4-list-item-bg;

            .sec4__list-title {
                color: $sec4-list-title-hover;

                &:after {
                    border-color: $sec4-list-title-hover;
                    transform: rotate(-45deg) translateY(-5px) skewX(1.3);
                }
            }
        }

        &_active {
            background-color: $sec4-list-item-bg;

            .sec4__list-title {
                color: $sec4-list-title-hover;

                &:after {
                    border-color: $sec4-list-title-hover;
                    transform: rotate(-45deg) translateY(-5px) skewX(1.3);
                }
            }
        }

        &_open {

            .sec4__list-title {

                &:after {
                    transform: rotate(-225deg);
                }
            }
        }
    }

    &__list-title {
        transition: $trans;
        display: inline-block;
        font-size: 26px;
        font-weight: 500;

        &:after {
            content: "";
            transition: $trans;
            transform: rotate(-45deg);
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            display: inline-block;
            margin-left: 5px;
            position: relative;
            top: -2px;
            height: 10px;
            width: 10px;
        }
    }

    &__list-subtitle {
        padding-right: 40px;
    }

    &__list-body {
        transition: $trans;
        //display: none;
        height: 0;
        overflow: hidden;
    }

    &__list-table {
        counter-reset: item;
    }

    &__list-table-item {
        padding: 0;
    }

    &__list-table-item-text {
        display: inline-block;
        counter-increment: item;

        &:before {
            content: counter(item) ". ";
        }
    }

    &__door {
        transform: translateX(-20px);
        margin-top: 60px;
        position: relative;
    }

    &__door-logo {
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 2;
        max-width: 300px;

        @include media(w1100) {
            max-width: 280px;
        }
    }

    &__doorleft {
        position: relative;
        left: 1px;
        z-index: 3;
    }

    &__doorright-wrap {
        position: absolute;
        top: -62px;
        left: 237px;
        z-index: 1;
    }

    &__doorright {
        
    }

    &__doorimg {
        transition: 0.6s ease;
        transform: translate(-50px,-50%);
        opacity: 0;
        position: absolute;
        left: 237px;
        top: 50%;
        z-index: 2;

        &_active {
            transform: translate(0,-50%);
            opacity: 1;
        }
    }
}