.sec7 {
    background-color: $sec3-bg;
    padding: 100px 0;

    @include media(w1024) {
        padding: 60px 0;
    }

    @include media(w768) {
        padding: 30px 0;
    }

    &__form {
        display: flex;
        flex-flow: wrap;

        @include media(w1200) {
            flex-flow: wrap;
        }
    }

    &__form-label {
        display: block;
        padding-right: 20px;
        width: 25%;

        @include media(w1200) {
            margin-bottom: 20px;
            width: 50%;
        }

        @include media(w1024) {
            width: 100%;
        }
    }

    &__form-input {
        
        @include placeholder {
            font-size: $input-font-size-pc;
        }

        &_phone {
            font-size: 20px;
        }

        @include media(w1024) {

            @include placeholder {
                font-size: $input-font-size-tablet;
            }
        }
    }

    &__form-btn {

        @include media(w1200) {
            width: 100%;
        }
    }

    &__form-security {
        margin-top: 1em;
    }
}