button {
    white-space: nowrap;

    &.btn-round {
        border: none;
        outline: none;
    }
}

a {

    &.btn-round {
        display: inline-flex;
        align-items: center;
    }
}

.btn-round {
    transition: $trans;
    background-color: $btn-main-bg;
    border-radius: $btn-height-pc / 2;
    border-radius: calc(#{$btn-height-pc} / 2);
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: $btn-font-size-pc;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 0 45px;
    height: $btn-height-pc;

    &:hover {
        background-color: #cf4378;
    }

    @include media (w1024) {
        border-radius: $btn-height-tablet / 2;
        border-radius: calc(#{$btn-height-tablet} / 2);
        font-size: $btn-font-size-tablet;
        height: $btn-height-tablet;
    }

    @include media (w768) {
        border-radius: $btn-height-mobile / 2;
        border-radius: calc(#{$btn-height-mobile} / 2);
        font-size: $btn-font-size-mobile;
        padding: 0 20px;
        height: $btn-height-mobile;
        width: 100%;
    }

    &_main {
        box-shadow: 0 0 100px rgba(255,255,255,0.4);
        border-bottom: 5px solid #270e46 !important;
    }

    &_download {
        position: relative;

        &:after {
            content: "PDF, 20Mb";
            transform: translateY(-50%);
            font-family: "PFAgoraSansPro", Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 300;
            position: absolute;
            top: 50%;
            left: calc(100% + 20px);
            white-space: nowrap;

            @include media (w1024) {
                transform: translateX(-50%);
                top: calc(100% + 20px);
                left: 50%;
            }

            @include media (w768) {
                //content: none;
            }
        }

        @include media (w768) {
            
        }
    }

    &_download-column {
        margin-bottom: 50px;

        &:after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: calc(100% + 10px);
        }
    }

    &_clear {
        
        &:after {
            content: none;
        }
    }

    &_border {
        border: 5px solid #cf4378 !important;
        background-color: transparent;
        color: black;

        &:hover {
            color: white;
        }
    }
}

@keyframes btnAnimRed {
    from {
        box-shadow: 0 0 8px 6px $btn-main-bg, 0 0 12px 14px $btn-main-bg;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}

@keyframes btnAnimWhite {
    from {
        box-shadow: 0 0 8px 6px white, 0 0 12px 14px white;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}