@font-face {
    font-family: "PFAgoraSansPro";
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Bold.eot");
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Bold.woff2') format('woff2'),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Bold.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Bold.ttf") format("truetype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Bold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "PFAgoraSansPro";
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.eot");
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.woff2') format('woff2'),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.ttf") format("truetype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Italic.svg#svgFontName') format('svg');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "PFAgoraSansPro";
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.eot");
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.woff2') format('woff2'),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.ttf") format("truetype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "PFAgoraSansPro";
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.eot");
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.woff2') format('woff2'),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.ttf") format("truetype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFAgoraSansPro";
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Light.eot");
    src: url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Light.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Light.woff2') format('woff2'),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Light.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/PFAgoraSansPro-Light.ttf") format("truetype"),
    url('../fonts/PFAgoraSansPro/PFAgoraSansPro-Light.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "PTRouble";
    src: url("../fonts/PTRouble/hinted-PTRoubleSans.eot");
    src: url("../fonts/PTRouble/hinted-PTRoubleSans.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTRouble/hinted-PTRoubleSans.woff2') format('woff2'),
    url("../fonts/PTRouble/hinted-PTRoubleSans.woff") format("woff"),
    url("../fonts/PTRouble/hinted-PTRoubleSans.ttf") format("truetype"),
    url('../fonts/PTRouble/hinted-PTRoubleSans.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}