.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-color-logo {
	font-size:(60.17/10)*1rem;
	width:(420.132/60.17)*1em;
}
.icon-color-logo1 {
	font-size:(60.17/10)*1rem;
	width:(420.132/60.17)*1em;
}
.icon-footer-logo {
	font-size:(60.057/10)*1rem;
	width:(419.414/60.057)*1em;
}
.icon-header-logo {
	font-size:(60.057/10)*1rem;
	width:(419.414/60.057)*1em;
}
.icon-icon-download {
	font-size:(30.7/10)*1rem;
	width:(32/30.7)*1em;
}
