$trans: all 0.3s ease;

$content-max-width: 1180px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 18px;

$input-font-size-pc: 26px;
$input-font-size-tablet: 20px;
$input-font-size-mobile: 20px;

$btn-height-pc: 84px;
$btn-height-tablet: $btn-height-pc;
$btn-height-mobile: 74px;

$btn-font-size-pc: $input-font-size-pc;
$btn-font-size-tablet: $input-font-size-pc;
$btn-font-size-mobile: $input-font-size-mobile;

$sec2-bg: #f5f5f5;
$main-text: #270e46;
$btn-main-bg: #c23067;
$footer-bg: #2b2a28;
$footer-text: #8e8e8e;