section.sec.sec1
    include header
    div.container.sec1__container
        div.sec1__title-block.color-white
            h1.tt-uppercase.medium.
                Бизнес по упаковке<br> и продаже франшиз
            h2.italic.mb1.sec1__subtitle.
                С прибылью от<br> 300 000 <span class="rub">?</span>/мес
            img(src="img/sec1-img.png", alt="").sec1__title-block-img
        button.sec1__btn.btn-round.btn-round_download.btn-round_main.js-small-btn.
            Скачать презентацию <span>франшизы</span>
        div.sheets.color-main.sec1__sheets
            h3.bold.sec1__sheets-title.
                Присоединяйтесь<br> к команде «Франчайзинг5»
            p.s.
                Став партнером «Франчайзинг5» Вы будете помогать  успешным бизнесменам своего региона масштабировать бизнес в федеральные и международные сети и при этом будете зарабатывать от 300 000 рублей в месяц. Вашими клиентами будут компании, которые захотят упаковать франшизу и открывать филиалы в других городах, а также настроить и оптимизировать бизнес-процессы, а первую продажу франшизы вы совершите с помощью регионального директора.
            img(src="img/sec1-map.png", alt="").sec1__map
            div.sec1__sheets-subtitle.color-white
                p.s.italic.
                    Артем Захаров
                p.sec1__sheets-smalltext.
                    Генеральный директор<br> ООО «Франчайзинг5»
    img(src="img/sec1-img.png", alt="").sec1__img