
- var sec2List = [{title: "Вы получаете заявку от клиента", text: "К Вам будут обращаться предприниматели Вашего региона за консультацией и помощью по масштабированию бизнеса"},{title: "Заключаете договор и получаете оплату", text: "Региональный директор поможет Вам покорить даже самого сложного клиента"},{title: "Мы берем всю работу по упаковке франшизы на себя", text: "Средний чек с каждой сделки по упаковке франшиз 710 000 рублей. Половина этих денег – Ваша прибыль"},{title: "Вы продаете упакованную франшизу", text: "И получаете дополнительный доход от 80 000 рублей с одной продажи"}];

section.sec.sec2
    div.container.ta-center
        h3.bold.
            Простые действия, <br>которые приведут Вас к прибыли
        p.italic.l.mb1.
            Посмотрите схему работы филиала Франчайзинг5
        div.sec2__list

            each item, index in sec2List
                div.sec2__list-item
                    div.sec2__list-col.sec2__list-col_text
                        div.sec2__list-icon
                            img(src="img/sec2-icon" + (index + 1) + ".png", alt="").sec2__list-icon-img
                        p.sec2__list-title.
                            #{item.title}
                        p.xs.
                            #{item.text}
                    div.sec2__list-col.sec2__list-col_img
                        div(style="background-image:url('img/sec2-img" + (index + 1) + ".jpg')").sec2__list-img
                            img(src="img/sec2-img" + (index + 1) + ".jpg", alt="").sec2__list-img-tablet