- var sec3List = [{name:"Выручка", price:"680 000", id:"proceeds"},{name:"Средний чек от упаковки франшиз", price:"213 000", id: "middlecheck"}, {name:"Средний чек от продажи франшиз", price:"200 000", id: "middlechecksale"}, {name:"Организационные затраты", price:"87 400", id:"orgcost"}, {name:"Фонд оплаты труда", price:"52 000", id:"salaryfond"}, {name:"Налог (УСН 6%)", price:"680 000", id: "tax"}];

section.sec.sec3
    div.container.color-white
        h2.bold.ta-center.
            Рассчитайте свой доход
        p.italic.l.mb1.ta-center.
            Ваш бизнес будет приносить прибыль даже при одной сделке в месяц
        div.sec3__calc-block
            div.sec3__calc-col.sec3__calc-col_sliders
                div.sec3__calc-row
                    p.m.sec3__calc-title.
                        Количество упакованных франшиз за месяц 
                    div#packagedSlider.sec3__slider
                div.sec3__calc-row
                    p.m.sec3__calc-title.
                        Количество проданных франшиз за месяц  
                    div#salesSlider.sec3__slider
                div.sec3__calc-row
                    p.m.sec3__calc-title.
                        Период работы вашего филиала (мес.)
                    div#timeSlider.sec3__slider
            div.sec3__calc-col.sec3__calc-col_values
                div.sheets.sec3__values.color-black
                    each item, index in sec3List
                        div.sec3__values-row
                            div.sec3__values-name.
                                #{item.name}
                            div(id=item.id).sec3__values-number.
                                #{item.price}
                    div.sec3__note
                        div.sec3__note-text.
                            Вы заработаете
                    div#profit.sec3__summ.
                        340 000
                    div.sec3__summ-note
                        |за 
                        |
                        span#monthNumber.
                            1
                        |
                        |
                        span#monthStr.
                            месяц
    div.sec3__bottom
        div.container
            div.sec3__bottom-row
                p.l.italic.color-white.sec3__bottom-title.mb0.
                    Узнайте, как заработать <span>340 000</span><br> за 1 месяц в PDF-презентации франшизы
                button.btn-round.btn-round_download.js-small-btn.sec3__btn.
                    Скачать презентацию <span>франшизы</span>